<!DOCTYPE html>
<html>
<head>
  <title>VacaySoon</title>
<%= csrf_meta_tag %>
<%= render 'layouts/stylesheets'%>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  
</head>
<body>
	<section class="round">
			<% flash.each do |key, value| %>
			          <div class="flash <%= key %>"><%= value %></div>
			        <% end %>
	        <%= yield %>
			
	      </section>
</body>
</html>
